<mat-toolbar color="primary">
    <span>Bookmark</span>
</mat-toolbar>
<div class="example-header" style="margin: 10px;">
    <button mat-raised-button color="primary" routerLink="/bookmarks/add-bookmark" style="margin-right:5px;">Add</button>
</div>
<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Progress Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="progress"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Name Url -->
        <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="name"> {{row.url}} </mat-cell>
        </ng-container>

        <!-- Name Group -->
        <ng-container matColumnDef="group">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Group </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="name"> {{row.group}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button class="mdc-icon-button material-icons" (click)=deleteBookmark(row.id)><mat-icon>delete</mat-icon></button>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
</div>