<mat-toolbar color="primary">
    <span>Bookmark</span>
</mat-toolbar>
<mat-card id="card" style="text-align: center;">
    <mat-card-title>
        Add Bookmark
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="addBookmark" (ngSubmit)="addNewBookmark()" class="example-form">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="checkError('name', 'required')">Name is required</mat-error>
            </mat-form-field><br/>
            <mat-form-field>
                <mat-label>URL</mat-label>
                <input matInput formControlName="url">
                <mat-error *ngIf="checkError('url', 'pattern')">Url is not valid</mat-error>
                <mat-error *ngIf="checkError('url', 'required')">Url is required</mat-error>

            </mat-form-field><br/>
            <mat-form-field>
                <mat-label>Group</mat-label>
                <mat-select formControlName="group">
                    <mat-option value="'work'">Work</mat-option>
                    <mat-option value="leisure">Leisure</mat-option>
                    <mat-option value="personal">Personal</mat-option>
                </mat-select>
                <mat-error *ngIf="checkError('group', 'required')">Group is required</mat-error>
            </mat-form-field><br/>

            <button mat-raised-button color="primary" type="submit" [disabled]="!addBookmark.valid" style="margin-right:5px;">Save</button>
            <button mat-raised-button routerLink="/bookmarks" color="primary" style="margin-right:5px;">Cancel</button>
        </form>
    </mat-card-content>